<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        background-color: yellow;
    }

</style>
<body>
    <h1>Bienvenido al blog de Proyecto Intermedio de Python</h1>
    <p>Mi nombre es Gustavo Jaramillo. Soy ingeniero metalúrgico. </p>
    <p>Estoy estudiando programación porque me gusta. No es fácil, pero es un reto que decidí afrontar</p>
    <p>Le he dedicado mucho tiempo a esto. Si pudiera dedicar todo el día, con seguridad avanzaría más rapido, pero laburo en algo que no tienen nada que ver con el mundo de la programación</p>
    <p>Espero que se tome en cuenta el hecho de que trabaje solo ;)</p>
    <p>Realmente, espero pasar, porque a esto le he dedicado tiempo muy valioso</p>
    <a>Pulse aquí para <a href="/appblog/"><font color="black">Ir a la página Principal</font></a>
</body>

</html>