<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        background-color: yellow;
    }

</style>
<body>
    <h1>Lista de Libros registrados</h1>
    
    {% for book in books %}
        <p>Titulo: {{book.titulo}} </p> 
        <p>Autor:{{book.autor}} </p>
        <p>Genero:{{book.genero}} </p>   
        <p>Fecha de ingreso:{{book.fechaIngreso}} </p>
        <br>
    {% endfor %}
</body>

</html>