<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
</head>
{% block main_content%}

<style>
    body{
        background-color: rgb(251, 255, 0);
    }

</style>

<body>

    <h1><u>Resultados de busqueda de comentarios de:</u> {{creador}}</h1>
    {% if creador %}

    <ul>
        {% for comentario in comentarios %}
        <li>El comentario creado por {{comentario.creador}} "{{comentario.texto}}" esta en este blog desde el dia: {{comentario.fechaCreacion}}</li>
        {% endfor%}
    </ul>

        {% else %}
            <p>Usuario NO Registrado en el blog o sin comentarios</p>


    {%endif%}

{% endblock%}
</body>

</html>