{% extends "appblog/base2.html"%}
{%block main_content%}
<style>
    body{
        background-color: yellow;
    }

</style>
    <h1>Lista de Usuarios registrados</h1>
    <div class="container mt-5">
        <table class="table">
            <thead>
                <tr>
                    <th class="table-success">Usuario</th>
                    <th class="table-success">Nombre</th>
                    <th class="table-success">Apellido</th>
                    <th class="table-success">email</th>
                </tr>
            </thead>
            <tbody>
                {% for i in users  %}
                    <tr>
                    <td>{{i.username}}</td>    
                    <td>{{i.first_name}}</td> 
                    <td>{{i.last_name}} </td>
                    <td>{{i.email}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
{%endblock%}
